$font-size: 14px;
$cell-padding-x: 6px;
$cell-padding-y: 8px;
$grid-header-padding-x: 6px;
$grid-header-padding-y: 8px;

@import "~@progress/kendo-theme-material/dist/all.scss";

.k-card {
  padding: 1rem;
}
.k-card-title {
  text-align: center;
}
.text-centered {
  text-align: center;
}
.k-widget .k-grid {
  width: 70vw;
}
body {
  background-color: rgba($primary, .05);
}
.k-grid-header {
  background-color: rgba($tertiary, .1);
}